<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="pt">
        <head>
            <style>
                body {
                  background-color: whitesmoke;
                }
              
            </style>
            
            <meta charset="UTF-8">
            <title>Cadastrar Filme/Série</title>
        </head>
        <body>
            <h2 class="text-center text-warning">Cadastrar Filme/Série</h2>
            <button><a href="/show/">Listagem</a></button>
            <br>
            <br>
            <form action="/show" method="POST">
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Título:</h5></label>
                    
                                <input type="text" name="Titulo" placeholder="Titulo">
                            </td>
                            <td>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </td>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Gênero:</h5></label> 
                                <br>
                                <table>
                                    <tr>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Acao>Ação</td>  
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Animacao>Animação</td> 
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Aventura>Aventura</td> 
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Comedia>Comédia</td>
                                    </tr>
                                    <tr>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Documentario>Documentário</td>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Fantasia>Fantasia</td>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=FiccaoCientifica>Ficção Científica</td>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Guerra>Guerra</td>
                                    </tr>
                                    <tr>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Musical>Musical</td>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Romance>Romance</td> 
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Suspense>Suspense</td>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Terror>Terror</td>
                                    </tr>
                                    <tr>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Horror>Horror</td>
                                        <td><INPUT TYPE=CHECKBOX NAME=Genero VALUE=Drama>Drama</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                
                </div>
                
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Ano:</h5></label>
                        
                                <input type="text" name="Ano" placeholder="Ano">
                            </td>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Elenco:</h5></label>
                        
                                <input type="text" name="Elenco" placeholder="Elenco">
                            </td>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Diretor:</h5></label>
                        
                                <input type="text" name="Diretor" placeholder="Diretor">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Sinopse:</h5></label>
                        
                                <input type="text" name="Sinopse" placeholder="Sinopse">
                            </td>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Duração:</h5></label>
                        
                                <input type="text" name="Duracao" placeholder="Duracao">
                            </td>
                            <td>
                                <label for="exampleFormControlInput1"><h5>Valor:</h5></label>
                        
                                <input type="text" name="Valor" placeholder="Valor">
                            </td>
                        </tr>
                    </table>
                                       
                </div>

                <button type = "submit" class="btn btn-primary btn-lg btn-block .btn btn-warning">Cadastrar</button>
                
            </form>
        </body>