<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Meu primeiro CRUD Node.js</title>
    </head>
    <body>
        <h2>Listagem</h2>
        <table border='1'>
            <thead>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        Sobrenome
                    </td>
                </tr>
            </thead>
            <tbody>
                <%  data.forEach( function(details){ %>
                    <tr>
                        <td><%= details.nome%></td>
                        <td><%= details.sobrenome%></td>
                        <td><a href="/editE/<%= details._id %>">Editar</a></td>
                        <td><a href="/delete/<%= details._id %>">Excluir</a></td>
                    </tr>
                <%  })%>    
            </tbody>
            <button><a href="index.ejs">Voltar</a></button>
        </table>

    </body>

</html>