<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="pt">
    <head>
        <style>
            body {
              background-color: whitesmoke;
            }
          
        </style>



        <meta charset="UTF-8">
        <title>Cadastro de Roupa

        </title>

    </head>
    <body>
        <h2 class="text-center text-warning">Cadastrar Roupas</h2>
        <button><a href="/showR/">Listagem</a></button>
        <br>
        <br>
        <form action="/showR" method="POST">
            <label for="exampleFormControlInput1"><h5>tamanho:</h5></label> 
            <input type="radio" id="P" name="tamanho" value="P">
            <label for="P">P</label>
            <input type="radio" id="M" name="tamanho" value="M">
            <label for="M">M</label>
            <input type="radio" id="G" name="tamanho" value="G">
            <label for="G">G</label>
            <input type="radio" id="GG" name="tamanho" value="GG">
            <label for="GG">GG</label><br>
            <label for="exampleFormControlInput1"><h5>tecido:</h5></label> 
            <input type="checkbox" id="Seda" name="tecido" value="Seda">
            <label for="exampleFormControlInput1"><h5>Seda:</h5></label> 
            <input type="checkbox" id="Algodão" name="tecido" value="Algodão">
            <label for="exampleFormControlInput1"><h5>Algodão:</h5></label> 
            <input type="checkbox" id="Poliester" name="tecido" value="Poliester">
            <label for="exampleFormControlInput1"><h5>Poliester:</h5></label><br> 
            <label for="exampleFormControlInput1"><h5>tipo:</h5></label> 
            <input type="radio" id="Camisa" name="tipo" value="Camisa">
            <label for="exampleFormControlInput1"><h5>Camisa:</h5></label> 
            <input type="radio" id="Calça" name="tipo" value="Calça">
            <label for="exampleFormControlInput1"><h5>Calça:</h5></label> 
            <input type="radio" id="Meia" name="tipo" value="Meia">
            <label for="exampleFormControlInput1"><h5>Meia:</h5></label> 
            <input type="radio" id="Boné" name="tipo" value="Boné">
            <label for="exampleFormControlInput1"><h5>Boné:</h5></label> 
            <input type="radio" id="Tênis" name="tipo" value="Tênis">
            <label for="exampleFormControlInput1"><h5>Tênis:</h5></label> 
            <input type="radio" id="Casaco" name="tipo" value="Casaco">
            <label for="exampleFormControlInput1"><h5>Casaco:</h5></label> 
            <input type="radio" id="Pijama" name="tipo" value="Pijama">
            <label for="exampleFormControlInput1"><h5>Pijama:</h5></label> 
            <input type="radio" id="Short" name="tipo" value="Short">
            <label for="exampleFormControlInput1"><h5>Short:</h5></label> 
            <input type="radio" id="Roupas intimas" name="tipo" value="Roupas intimas">
            <label for="exampleFormControlInput1"><h5>Roupas intimas:</h5></label> 
            <input type="radio" id="Vestido" name="tipo" value="Vestido">
            <label for="exampleFormControlInput1"><h5>Vestido:</h5></label> 
            <input type="radio" id="Saia" name="tipo" value="Saia">
            <label for="exampleFormControlInput1"><h5>Saia:</h5></label> 
            <input type="radio" id="Roupa Social" name="tipo" value="Roupa Social">
            <label for="exampleFormControlInput1"><h5>Roupa Social:</h5></label> 
            <div class="form-group">
                <label for="exampleFormControlInput1"><h2>Cor:</h2></label><br>
                
                <select name="Cor">
                      <option value ="Branco" >Branco</option>
                      <option value ="Preto" >Preto</option>
                      <option value ="Rosa" >Rosa</option>
                      <option value ="Vermelho" >Vermelho</option>
                      <option value ="Amarelo" >Amarelo</option>
                      <option value ="Azul" >Azul</option>
                      <option value ="Roxo" >Roxo</option>
                      <option value ="Verde" >Verde</option>
                       
                    </select> 

              </div>
              <label for="exampleFormControlInput1"><h5>valor:</h5></label><br>
            <input type="text" name="valor"><br>
            <label for="exampleFormControlInput1"><h5>marca:</h5></label><br>
            <input type="text" name="marca" ><br>
            <label for="exampleFormControlInput1"><h5>coleção:</h5></label><br>
            <input type="text" name="coleção" ><br>
            <label for="exampleFormControlInput1"><h5>descrição:</h5></label><br>
            <textarea name="descrição" rows="10" cols="30"></textarea>
            <button type = "submit" class="btn btn-primary btn-lg btn-block .btn btn-warning">Cadastrar</button>
        </form>
    </body>
</html>