<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!DOCTYPE html>
<html lang = "pt">
    <head>

        <style>
            body {
              background-color: whitesmoke;
            }

            </style>

        <meta charset="UTF-8">
        <title>CRUD livros</title>
    </head>

    <body>
        <h1>Cadastrar Produtos</h1>

        
        <button class="btn btn-lg btn-outline-warning btn-block"><a href="/home/">Livros</a></button>
        <button class="btn btn-primary btn-lg btn-block .btn btn-warning"><a href="/homeF/">Filmes</a></button>
        <button class="btn btn-primary btn-lg btn-block .btn btn-warning"><a href="/homeR/">Roupas</a></button>
        <button class="btn btn-primary btn-lg btn-block .btn btn-warning"><a href="/homeE/">Eletronicos</a></button>
    </body>