<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="pt">
    <head>
        <style>
            body {
              background-color: whitesmoke;
            }
          
        </style>
        
        <meta charset="UTF-8">
        <title>Cadastro de Produtos Eletrônicos</title>
    </head>
    <body>
        <h2 class="text-center text-warning">Cadastrar Produtos Eletrônicos</h2>
        
        <br>
        <br>
        <form action="/showE" method="POST">
            <label for="exampleFormControlInput1"><h5>Nome:</h5></label>
            <input type="text" name="nome">

            <label for="exampleFormControlInput1"><h5>Marca:</h5></label>
            <input type="text" name="marca">

            <label for="exampleFormControlInput1"><h5>Valor (R$):</h5></label>
            <input type="number" name="valor" >
            <div class="form-group">
                <label for="exampleFormControlInput1"><h5>Cor:</h5></label>
                
                <select name="cor">
                    <option value ="Preto">Preto</option>
                    <option value ="Vermelho">Vermelho</option>
                    <option value ="Azul">Azul</option>
                    </select> 
                    
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1"><h5>Voltagem:</h5></label>
                
                <select name="voltagem">
                    <option value ="110v">110v</option>
                    <option value ="220v">220v</option>
                    </select> 
                    
              </div>
            <label for="exampleFormControlInput1"><h5>Descrição:</h5></label>
            <input type="text" name="descricao">

            <label for="exampleFormControlInput1"><h5>Garantia:</h5></label>
            <input type="text" name="garantia">

            <label for="exampleFormControlInput1"><h5>Modelo:</h5></label>
            <input type="text" name="modelo">

            <button type="submit" class="btn btn-primary btn-lg btn-block .btn btn-warning">Cadastrar Produto</button>
            <button class="btn btn-primary btn-lg btn-block .btn btn-warning"><a href="/showE/">Listagem</a></button>
        </form>
    </body>
</html>